@mixin input-style {
  letter-spacing: 0.35px;
  color: #505050;
  font-size: 0.9rem;
  border: 1px solid #DEDEE0;
  box-sizing: border-box;
  border-radius: 5px;
  background: #F9FAFB;
  height: 2.2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 900px;
  box-sizing: border-box;
  margin: 1.2rem 0;
  padding: 0.75rem;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.217111);
  border-radius: 4px;
}

.select {
  @include input-style;
  width: 17.8rem;
  padding: 0 2.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("../../../components/svg/arrow-down.svg") no-repeat right 0.4rem center,
  url("../../../components/svg/grid.svg") no-repeat left 0.7rem center,
  #F9FAFB;
  margin-right: 23px;
}

.option {
  color: #505050;
  font-size: 0.9rem;
}

.price {
  display: flex;
  align-items: center;
}

.input {
  @include input-style;
  padding: 0 10px;
  width: 9rem;
}

.line {
  display: inline-block;
  height: 1px;
  width: 12px;
  margin: 0 7px;
  background: #DEDEE0;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 700px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 500px;
    > * {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .container {
    width: 224px;
  }

  .select {
    width: 100%;
    margin-right: 0;
  }

  .price {
    flex-direction: column;
    width: 100%;
  }

  .line {
    margin: 7px 0;
  }
}