.footer {
  position: static;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.9rem;
  color: #C0C4CE;
  background: rgba(192, 196, 206, 0.127321);
  border-top: 0.8px solid #979797;
  text-align: center;
  padding: 1rem 0;
  word-spacing: 1rem;
}