.bottom {
  font-size: 0.9rem;
  border-radius: 7px;
  background: white;
  padding: 1.5rem;
  width: 23rem;
  box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
  grid-area: bottom;
  text-align: center;
}

.text {
  color: #2A2A2A;
}

.link {
  color: #349A89;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}