.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  padding: 1.5rem 16vw;
  width: 55vw;
}

.formAlign {
  display: flex;
  flex-direction: column;
}

.btn {
  max-width: 377px;
  align-self: center;
}